USE [master]
GO
/****** Object:  Database [itsolution205]    Script Date: 1/22/2026 5:30:47 PM ******/
CREATE DATABASE [itsolution205]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'itsolution205', FILENAME = N'c:\databases\itsolution205\itsolution205.mdf' , SIZE = 8192KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'itsolution205_log', FILENAME = N'c:\databases\itsolution205\itsolution205_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [itsolution205].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [itsolution205]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/22/2026 5:30:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [email]) VALUES (10, N'hOANG', N'hoang2601222005sc@gmail.com')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (14, N'hoang', N'hoang26022005sc@gmail.com')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (15, N'lưu', N'Hoang260205@gmail.com')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
USE [master]
GO
